openapi: 3.0.3
info:
  title: Social Network API
  version: 1.0.0
  description: API for social networking application

servers:
  - url: http://localhost:8000
    description: Development server

paths:
  /api/auth/register:
    $ref: './paths/auth.yml#/~1api~1auth~1register'
  /api/auth/login:
    $ref: './paths/auth.yml#/~1api~1auth~1login'
  /api/auth/logout:
    $ref: './paths/auth.yml#/~1api~1auth~1logout'
  /api/auth/me:
    $ref: './paths/auth.yml#/~1api~1auth~1me'
  /api/users:
    $ref: './paths/users.yml#/~1api~1users'
  /api/users/{id}:
    $ref: './paths/users.yml#/~1api~1users~1{id}'
  /api/users/search:
    $ref: './paths/users.yml#/~1api~1users~1search'
  /api/users/{id}/posts:
    $ref: './paths/posts.yml#/~1api~1users~1{id}~1posts'
  /api/users/{id}/subscribe:
    $ref: './paths/subscriptions.yml#/~1api~1users~1{id}~1subscribe'
  /api/users/{id}/subscribers:
    $ref: './paths/subscriptions.yml#/~1api~1users~1{id}~1subscribers'
  /api/users/{id}/subscriptions:
    $ref: './paths/subscriptions.yml#/~1api~1users~1{id}~1subscriptions'
  /api/posts:
    $ref: './paths/posts.yml#/~1api~1posts'
  /api/posts/{id}:
    $ref: './paths/posts.yml#/~1api~1posts~1{id}'
  /api/posts/{id}/like:
    $ref: './paths/likes.yml#/~1api~1posts~1{id}~1like'
  /api/posts/{id}/comments:
    $ref: './paths/comments.yml#/~1api~1posts~1{id}~1comments'
  /api/comments/{id}:
    $ref: './paths/comments.yml#/~1api~1comments~1{id}'
  /api/dialogs:
    $ref: './paths/messages.yml#/~1api~1dialogs'
  /api/dialogs/{user_id}:
    $ref: './paths/messages.yml#/~1api~1dialogs~1{user_id}'
  /api/messages/{id}:
    $ref: './paths/messages.yml#/~1api~1messages~1{id}'

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string